In [5]:
def even_or_odd(num):
    if num%2 ==0:
        return "The number {} is Even".format(num)
    else:
        return "the number {} is Odd".format(num)

In [6]:
even_or_odd(23)

'the number 23 is Odd'

In [7]:
lst=[1,2,3,4,5,6,7,8,99,9,15,14]

In [9]:
list(map(even_or_odd,lst)) #1st map function, second one is iterable

['the number 1 is Odd',
 'The number 2 is Even',
 'the number 3 is Odd',
 'The number 4 is Even',
 'the number 5 is Odd',
 'The number 6 is Even',
 'the number 7 is Odd',
 'The number 8 is Even',
 'the number 99 is Odd',
 'the number 9 is Odd',
 'the number 15 is Odd',
 'The number 14 is Even']

# Filter Function

In [14]:
def even(num):
    if num%2==0:
        return True

In [15]:
lst=[1,2,3,4,5,6,7,8,99,9,15,14]

In [16]:
list(filter(even,lst))

[2, 4, 6, 8, 14]

In [19]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 14]

In [20]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False, False, False, True]

# List Comprehension:

In [21]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [23]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [28]:
lst=[1,2,3,4,5,6,7]
list1 = [i*i for i in lst]
# expressoion followed by for loop then there may be more for 
#loops and if clauses

In [29]:
print(list1)

[1, 4, 9, 16, 25, 36, 49]

In [30]:
lst=[1,2,3,4,5,6,7]
list1 = [i*i for i in lst if i%2==0]

In [31]:
print(list1)

[4, 16, 36]

In [42]:
lst=[1,2,3,4,5,6,7]
list2 = [i*i for i in lst if i%2!=0]

In [44]:
print(list2)

[1, 9, 25, 49]